/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/vendor
/public/packages
bower_components/
database/seeds/.gitkeep
database/migrations/.gitkeep
/config/bet/tmacount.php
resources/lang/vendor/backpack/es/
resources/lang/vendor/backpack/fr/
resources/lang/vendor/backpack/it/
resources/lang/vendor/backpack/pt_br/
resources/lang/vendor/backpack/ro/
